<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tibbetts_chase_00</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,246}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{170,246}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{6,6},{170,246}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,1},{170,245}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{170,245}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{186,6},{170,245}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,1},{168,245}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{168,245}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{366,6},{168,245}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{3,1},{167,245}}</string>
				<key>spriteOffset</key>
				<string>{-2,-1}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{167,245}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{544,6},{167,245}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_04</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{4,1},{166,245}}</string>
				<key>spriteOffset</key>
				<string>{-2,-1}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{166,245}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{721,6},{166,245}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_05</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,2},{164,244}}</string>
				<key>spriteOffset</key>
				<string>{-3,-2}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{164,244}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{897,6},{164,244}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_06</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{7,2},{163,244}}</string>
				<key>spriteOffset</key>
				<string>{-4,-2}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{163,244}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1071,6},{163,244}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_07</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,1},{165,245}}</string>
				<key>spriteOffset</key>
				<string>{-3,-1}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{165,245}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1244,6},{165,245}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_08</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{3,1},{167,245}}</string>
				<key>spriteOffset</key>
				<string>{-2,-1}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{167,245}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1419,6},{167,245}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_09</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,1},{168,245}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{168,245}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1596,6},{168,245}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_chase_10</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,246}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{170,246}</string>
				<key>spriteSourceSize</key>
				<string>{170,246}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{6,6},{170,246}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_00</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{75,0},{145,257}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{145,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1774,6},{145,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{75,2},{145,255}}</string>
				<key>spriteOffset</key>
				<string>{-13,-2}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{145,255}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{6,273},{145,255}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{74,4},{146,253}}</string>
				<key>spriteOffset</key>
				<string>{-25,-4}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{146,253}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{161,273},{146,253}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{58,7},{162,250}}</string>
				<key>spriteOffset</key>
				<string>{-25,-7}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{162,250}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{317,273},{162,250}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_04</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{41,10},{179,247}}</string>
				<key>spriteOffset</key>
				<string>{-25,-10}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{179,247}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{489,273},{179,247}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_05</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{25,13},{195,244}}</string>
				<key>spriteOffset</key>
				<string>{-25,-13}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{195,244}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{678,273},{195,244}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_06</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{40,10},{180,247}}</string>
				<key>spriteOffset</key>
				<string>{-25,-10}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{180,247}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{883,273},{180,247}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_07</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,7},{165,250}}</string>
				<key>spriteOffset</key>
				<string>{-25,-7}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{165,250}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1073,273},{165,250}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_08</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{69,5},{151,252}}</string>
				<key>spriteOffset</key>
				<string>{-25,-5}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{151,252}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1248,273},{151,252}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_09</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{74,2},{146,255}}</string>
				<key>spriteOffset</key>
				<string>{-18,-2}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{146,255}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1409,273},{146,255}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_grab_10</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{74,0},{146,257}}</string>
				<key>spriteOffset</key>
				<string>{-6,0}</string>
				<key>spriteSize</key>
				<string>{220,257}</string>
				<key>spriteSourceSize</key>
				<string>{146,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1565,273},{146,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_00</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,256}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{146,256}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1721,273},{146,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1877,273},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{6,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{161,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_04</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{316,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_05</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{471,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_06</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{626,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_07</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{781,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_08</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{936,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_09</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1091,540},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_idle_10</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,256}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{146,256}</string>
				<key>spriteSourceSize</key>
				<string>{145,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1877,273},{145,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_00</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{27,12},{146,257}}</string>
				<key>spriteOffset</key>
				<string>{-8,-12}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{146,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1246,540},{146,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{17,12},{156,257}}</string>
				<key>spriteOffset</key>
				<string>{-7,-12}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{156,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1402,540},{156,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,9},{167,260}}</string>
				<key>spriteOffset</key>
				<string>{-6,-9}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{167,260}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1568,540},{167,260}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,6},{167,263}}</string>
				<key>spriteOffset</key>
				<string>{-4,-6}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{167,263}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1745,540},{167,263}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_04</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{15,3},{158,266}}</string>
				<key>spriteOffset</key>
				<string>{-2,-3}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{158,266}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{6,813},{158,266}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_05</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{24,0},{149,269}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{149,269}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{174,813},{149,269}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_06</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{15,3},{158,266}}</string>
				<key>spriteOffset</key>
				<string>{-2,-3}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{158,266}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{333,813},{158,266}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_07</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,6},{167,263}}</string>
				<key>spriteOffset</key>
				<string>{-4,-6}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{167,263}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{501,813},{167,263}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_08</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,9},{168,260}}</string>
				<key>spriteOffset</key>
				<string>{-5,-9}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{168,260}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{678,813},{168,260}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_09</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{16,12},{157,257}}</string>
				<key>spriteOffset</key>
				<string>{-6,-12}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{157,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{856,813},{157,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_jump_10</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{27,13},{146,256}}</string>
				<key>spriteOffset</key>
				<string>{-7,-13}</string>
				<key>spriteSize</key>
				<string>{173,269}</string>
				<key>spriteSourceSize</key>
				<string>{146,256}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1023,813},{146,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_00</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,1},{146,257}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{146,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1179,813},{146,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_01</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,1},{146,257}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{146,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1335,813},{146,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_02</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,1},{145,257}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{145,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1491,813},{145,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_03</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,0},{146,258}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{146,258}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1646,813},{146,258}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_04</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,0},{145,258}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{145,258}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1802,813},{145,258}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_05</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{150,258}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{150,258}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{6,1092},{150,258}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_06</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,0},{145,258}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{145,258}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{166,1092},{145,258}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_07</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,0},{145,258}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{145,258}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{321,1092},{145,258}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_08</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,1},{145,257}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{145,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{476,1092},{145,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_09</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,1},{146,257}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{146,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{631,1092},{146,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tibbetts_walking_10</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,1},{146,257}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{151,258}</string>
				<key>spriteSourceSize</key>
				<string>{146,257}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1179,813},{146,257}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>tibbetts.png</string>
				<key>textureFileName</key>
				<string>tibbetts</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
