<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cake.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,923},{426,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,497}}</string>
				<key>sourceSize</key>
				<string>{426,497}</string>
			</dict>

			<key>castle.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,426},{426,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,426}}</string>
				<key>sourceSize</key>
				<string>{426,426}</string>
			</dict>

			<key>choco.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,426},{426,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,497}}</string>
				<key>sourceSize</key>
				<string>{426,497}</string>
			</dict>

			<key>dirt.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,0},{426,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,426}}</string>
				<key>sourceSize</key>
				<string>{426,426}</string>
			</dict>

			<key>grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,852},{426,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,426}}</string>
				<key>sourceSize</key>
				<string>{426,426}</string>
			</dict>

			<key>metal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,0},{356,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,426}}</string>
				<key>sourceSize</key>
				<string>{356,426}</string>
			</dict>

			<key>purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,0},{426,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,426}}</string>
				<key>sourceSize</key>
				<string>{426,426}</string>
			</dict>

			<key>sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{426,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,426}}</string>
				<key>sourceSize</key>
				<string>{426,426}</string>
			</dict>

			<key>snow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{426,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,426}}</string>
				<key>sourceSize</key>
				<string>{426,426}</string>
			</dict>

			<key>tundra.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{426,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,426}}</string>
				<key>sourceSize</key>
				<string>{426,426}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1634,1420}</string>
			<key>textureFileName</key>
			<string>tileset.png</string>
			</dict>
		</dict>
</plist>