<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collision_tile.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,184},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,90}}</string>
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>

			<key>floor_carpet.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,93},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,90}}</string>
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>

			<key>floor_tile.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,275},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,90}}</string>
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>

			<key>floor_tile_alt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,90}}</string>
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>

			<key>floor_wood.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{182,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,92}}</string>
				<key>sourceSize</key>
				<string>{182,92}</string>
			</dict>

			<key>grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,93},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,90}}</string>
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>

			<key>path_tile.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,275},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,90}}</string>
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{362,366}</string>
			<key>textureFileName</key>
			<string>floor.png</string>
			</dict>
		</dict>
</plist>